:root {
        --neutral:#ffffffff;
        --primary:#89cdcdff;
        --primary-light:#73eee6ff;   
        --dark:#3a8896ff;           
        --dark-plus:#24606bff;
            
        --secondary:#ffd9f0ff;
        --secondary-darkplus:#bf2abfff;
            
        --terciary:#ff4dffff;
        --terciary-dark:#7c3c8cff;
        --accent:#c4f340ff;         
}

@font-face {
    font-family:"courier-bold";
    src: url(/fonts/CourierPrime-Bold.woff);
}
@font-face {
    font-family:"courier" ;
    src: url(/fonts/CourierPrime-Regular.woff);
}
@font-face {
    font-family:"poppins-bold" ;
    src: url(/fonts/Poppins-Bold.woff);
}
@font-face {
    font-family:"poppins" ;
    src: url(/fonts/Poppins-Regular.woff);
}
@font-face {
    font-family:"texto" ;
    src: url(/fonts/ShareTechMono-Regular.woff);
}